{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="page-header"> Register </div>

<div class="centered">
    <p>Welcome to your new group! <b>Your group number needed to register new users is {{ group_no }}</b>
    To begin, register yourself as a new member of your group, and share the group number to any others that you would like to share expenses with!</p>
 <a href="/register"><button class="btn btn-primary" style="background-color: darkslategrey"> Return to registration here </button> </a>
</div>




{% endblock %}